csle-base==0.9.36
csle-common==0.9.36
csle-collector==0.9.36
csle-ryu==0.9.36
gym-csle-stopping-game==0.9.36
gym-csle-apt-game==0.9.36
gym-csle-cyborg==0.9.36
gym-csle-intrusion-response-game==0.9.36
csle-tolerance==0.9.36
grpcio==1.69.0
grpcio-tools==1.69.0
